/* Text styling */
p,
dt {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

dl,
dd {
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0.8rem;
    padding-top: 0.6rem;
}

dd {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}
/* Article */
article h2 {
    margin-bottom: 2rem;
}
/* Anchor links */
a:visited {
    color: rgba(14, 173, 40, 0.678);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgba(167, 167, 0, 0.76);
    background-color: transparent;
    text-decoration: none;
}
/* Header */
header h1 {
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 1px 2px black;
    color: rgba(251, 255, 0, 0.95);
    background-image: url("./img/index/monkey.jpg");
    margin: 0;
    padding: 0.5rem;
}
/* Navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
   display: inline;
   padding-left: 1rem;
   padding-right: 1rem;
   margin: 0.5rem;
   padding: 0.5rem;
   font-size: 1.1rem;
   border-style: solid;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #333;
}

nav {
    text-align: center;
    background-image: url("./img/index/banner.jpg");
    padding: 1.5rem;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    float: none;
}
/* Footer */
footer p {
    text-align: center;
    font-size: 0.9rem;
}

footer {
    background-color: #4a8a007c;
    padding: 1rem;
}

/* Main grid */
.grid-container {
    display: grid;
    grid-column-gap: 3rem;
}
/* Media queries grid */
@media (max-width: 600px) {
    .grid-container { 
        grid-template-columns: none; 
        grid-template-areas: 
    "header header" 
    "content content" 
    "sidebar footer";
    grid-template-rows: 0.1fr 5fr 0.2fr;
    }
    nav li {
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 100rem;
        margin: 0.2rem auto;
        width: 13rem;
        padding: 0.3rem;
        font-size: 1rem;
        border-style: solid;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #333;
     }
     nav {
        text-align: center;
        background-image: url("./img/index/banner.jpg");
        padding: 1rem;
        
    }
}

@media (min-width: 600px) {
    .grid-container { 
        grid-template-columns: none; 
        grid-template-areas: 
    "header header" 
    "content content" 
    "sidebar footer";
    grid-template-rows: 0.1fr 5fr 0.2fr;
    }
}

@media (min-width: 900px) {
    .grid-container { grid-template-columns: 2.5fr 1fr; }
  }

  @media (min-width: 1200px) {
    .grid-container { 
        grid-template-columns: 4fr 1fr;   
        grid-template-areas: 
        "header header" 
        "content sidebar" 
        "footer footer";
        grid-template-rows: 0.1fr 5fr 0.2fr;}
  }

  .navbar {
    grid-area: header;
  }

  .article-first {
    grid-area: content;
  }

  .aside-first {
    grid-area: sidebar;
  }

  .footer {
    grid-area: footer;
  }
/* Sidebar */
aside ul {
    list-style-type: none;
    margin: 1rem;
    line-height: 1.5rem;
}

aside a {
    text-decoration: none;
}

aside a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
